

@{
    Layout= "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}


<div class="container-fluid">
    @if (ViewBag.userNotExist!=null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.userNotExist
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <div class="card main-card custom-card-1 text-white mb-0 h-100">
                <div class="card-header">Administratorzy</div>
                <div class="card-body">
                    <h5 class="card-title">Liczba czy coś</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <div class="card main-card custom-card-2 text-white mb-0 h-100 ">
                <div class="card-header">Użytkownicy
                    <a style='float:right;' class="text-white"  asp-area="" asp-controller="Admin" asp-action="AddUser">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Łączna liczba użytkowników: @ViewBag.userStats.Total</h5>
                    <p class="card-text mb-1">Gold: @ViewBag.userStats.Gold</p>
                    <p class="card-text mb-1">Platinum: @ViewBag.userStats.Platinum</p>
                    <p class="card-text">Zawieszeni: @ViewBag.userStats.Suspended</p>
                    <p class="card-text mt-auto">
                        <a class="text-white" asp-area="" asp-controller="Admin" asp-action="UsersList">
                            Przeglądaj użytkowników</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <div class="card main-card custom-card-3 text-white mb-0 h-100 ">
                <div class="card-header">Quizy
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Łączna liczba Quizów: @ViewBag.quizStats.Total</h5>
                    <p class="card-text mb-1">Publiczne: @ViewBag.quizStats.Public</p>
                    <p class="card-text mb-1">Prywatne: @ViewBag.quizStats.Private</p>
                    <p class="card-text mt-auto">
                        <a class="text-white" asp-area="" asp-controller="Admin" asp-action="QuizList">
                            Przeglądaj quizy</a>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <div class="card main-card custom-card-4 text-white mb-0 h-100 ">
                <div class="card-header">Kupony
                    <a style='float:right;' class="text-white"  asp-area="" asp-controller="Admin" asp-action="AddCoupon">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Łączna liczba Kuponów: @ViewBag.couponStats.Total</h5>
                    <p class="card-text mb-1">Aktywne: @ViewBag.couponStats.Active</p>
                    <p class="card-text mb-1">Archiwalne: @ViewBag.couponStats.Archive</p>
                    <p class="card-text mt-auto">
                        <a class="text-white" asp-area="" asp-controller="Admin" asp-action="CouponList">
                            Przeglądaj kupony</a>
                    </p>
                </div>
            </div>
        </div>
        

    </div>


</div>

<script>
    document.getElementById('gotoadmain').setAttribute( 'style', 'color:white !important' );
</script>