@model dynamic

@{
    ViewBag.Title = "Lista quizów";
    Layout = "_AdminLayout";
}

<h1 class="text-muted px-2">Lista quizów</h1> 
<hr class="divider mt-0">

<div class="container-fluid">
    @if (ViewBag.quizList != null)
    {
@if (ViewBag.quizRemoved != null)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @ViewBag.quizRemoved
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="input-group">
                <input type="text" class="form-control" id="searchBox" placeholder="Wyszukaj Quiz">
                <button type="button" class="btn bg-transparent clrBtn" style="margin-left: -40px; z-index: 100;">
                    <i class="bi bi-x"></i>
                </button>
                <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
        </div>
        
        <table class="table text-center">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Publiczny</th>
                <th>Właściciel</th>
                <th class="d-none d-md-table-cell">Utworzony</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var quiz in ViewBag.quizList)
            {
                <tr class="quiz_row">
                    <td>@quiz.Name</td>
                    <td>@(quiz.IsPublic ? "Tak" : "Nie")</td>
                    <td>
                        <a asp-action="UserProfile" asp-controller="Admin" asp-route-id="@quiz.UserEntity.Id">
                            @quiz.UserEntity.Username</a></td>
                    <td class="d-none d-md-table-cell">@quiz.CreatedAt</td>
                    <td>
                        <div class="btn-group btn-group-sm p-0 m-0">
                            <a class="btn btn-sm btn-dark" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                               asp-action="QuizView" asp-controller="Admin" asp-route-id="@quiz.Id"
                               data-bs-title="Szczegóły quizu">
                                <i class="bi bi-eye-fill"></i>
                            </a>
                            @using (Html.BeginForm("DelQuiz", "Admin", new { id = @quiz.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-sm btn-danger right-button" data-bs-toggle="tooltip"
                                        data-bs-placement="top" data-bs-title="Usuń quiz"><i class="bi bi-trash"></i></button>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<script>
    document.getElementById('quiz_collapse').classList.add('show');
    document.getElementById('quiz_collapse_btn').setAttribute( 'aria-expanded', 'true' );
    document.getElementById('quiz_collapse_btn').setAttribute( 'style', 'color:white !important' );
    document.getElementById('quizes_list').setAttribute( 'style', 'color:white !important' );


    

    
        $(document).ready(function(){
      $("#searchBox").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".quiz_row").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)


        });
      });
    });
    
    $('.clrBtn').click(function(){
            $('#searchBox').val('');
            $(".quiz_row").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf('') > -1)

        });
        })
</script>