@using Microsoft.AspNetCore.Identity
@using CollegeQuizWeb.Utils
@using Microsoft.AspNetCore.Http
@model dynamic

@{
    ViewBag.Title = "Przeglądaj profile";
    Layout = "_AdminLayout";
}

@if (@ViewBag.userInfo!=null)
{
    <div class="d-flex">
    <h1 class="text-muted px-2">Profil użytkownika @ViewBag.UserInfo.Username</h1> 
    <div class="ms-auto btn-group text-right pe-1">

        <a class="btn btn-dark button-link" type="button" data-bs-toggle="tooltip" data-bs-placement="top" 
           data-bs-title="Edycja użytkownika"  asp-action="EditUser" asp-controller="Admin" asp-route-id="@ViewBag.UserInfo.Id"><i class="bi bi-pencil-square"></i></a>
        @if (@Context.Session.GetString(SessionKey.IS_USER_LOGGED) != @ViewBag.UserInfo.Username)
        {
            @if (@ViewBag.UserInfo.AccountStatus == -1)
            {
                @using (Html.BeginForm("UnbanUser", "Admin", new { id = @ViewBag.UserInfo.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-dark mid-button" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Odblokuj użytkownika"><i class="bi bi-unlock"></i></button>
                }

            }
            else
            {
                <a class="btn btn-danger button-link" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-title="Zawieś użytkownika" asp-action="SuspendUser" asp-controller="Admin" asp-route-id="@ViewBag.UserInfo.Id"><i class="bi bi-person-fill-lock"></i></a>
            }
            @using (Html.BeginForm("DelUser", "Admin", new { id = @ViewBag.UserInfo.Id }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-danger right-button" data-bs-toggle="tooltip"
                        data-bs-placement="top" data-bs-title="Usuń użytkownika"><i class="bi bi-trash"></i></button>
            }
        }
    </div>
    </div>
    <hr class="divider mt-0">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-auto py-0 my-0">
                <i class="bi bi-file-person p-0" style=" font-size: 100px;"></i>
            </div>
            
            <div class="col-auto">
                <div class="row">
                    <h3>Dane użytkownika</h3>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <p>Nazwa: @ViewBag.UserInfo.Username</p>
                        <p>Imię: @ViewBag.UserInfo.FirstName @ViewBag.UserInfo.LastName</p>
                        <p>Email: @ViewBag.UserInfo.Email</p>
                    </div>
                    <div class="col-auto">
                        <p>Status:  @ViewBag.UserInfo.AccountStatus @if (@ViewBag.UserInfo.CurrentStatusExpirationDate != DateTime.MinValue)
                                             {
                                                 <a> do @ViewBag.UserInfo.CurrentStatusExpirationDate</a>
                                             }

                        <p>Konto aktywowane: @if (@ViewBag.UserInfo.IsAccountActivated == true)
                                             {
                                                 <a>Tak</a>
                                             }
                                             else
                                             {
                                                 <a>Nie</a>
                                             }</p>
                        <p>Data dołączenia: @ViewBag.UserInfo.CreatedAt</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <h3>Quizy użytkownika</h3>
                    @if (@ViewBag.UserQuizes != null)
                    {
                        @foreach (var quiz in ViewBag.UserQuizes)
                        {
                            <a asp-action="QuizView" asp-controller="Admin" asp-route-id="@quiz.Id">@quiz.Name</a>
                        }
                    }
                </div>
                <div class="row">
                    <h3>Płatności użytkownika</h3>
                    @if (@ViewBag.payments != null)
                    {
                        @foreach (var payment in ViewBag.payments)
                        {
                            <p class="mb-1">@payment.Subscription @payment.CreatedAt</p>
                        }
                    }
                </div>
                </div>
            </div>
                
    </div>

    <script>
    document.getElementById('users_collapse').classList.add('show');
    document.getElementById('users_collapse_btn').setAttribute( 'aria-expanded', 'true' );
    document.getElementById('users_collapse_btn').setAttribute( 'style', 'color:white !important' );
    document.getElementById('users_list').setAttribute( 'style', 'color:white !important' );

</script>
}
