@{
    ViewData["Title"] = (ViewBag.shareQuizInfo != null) ? $"Quiz {ViewBag.shareQuizInfo.Name}" : "";
}

<div class="mt-3 mb-3">
    <a class="btn btn-color-one fit-content text-white w-100 my-1" asp-action="MyQuizes" asp-controller="Quiz">
        <i class="bi bi-arrow-left me-2"></i> Powrót do quizów
    </a>
</div>
@if (@ViewBag.shareQuizInfo != null)
{
    <h2>@ViewBag.shareQuizInfo.Name</h2>
    <div class="row g-2 mb-4">
        @if (@ViewBag.questions != null)
        {
            @for (int j = 0; j < ((IEnumerable<dynamic>)ViewBag.questions).Count(); j++)
            {
                <div class="col-12">
                    <div class="p-3 card mt-3">
                        @if (ViewBag.images[j] != "")
                        {
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <div class="bg-transparent border-image">
                                        <img src="@ViewBag.images[j]" class="align-middle" style="width: 100%; height: 100%" alt=""/>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="hstack gap-2">
                            <div class="me-2 fs-3">@(j + 1)</div>
                            <label class="form-control h-100" placeholder="Treść pytania">@ViewBag.questions[j].question</label>
                            <div>
                                <label class="mb-1">Czas trwania pytania:</label>
                                <div class="d-flex mb-5">
                                    <label type="number" class="form-control time-control" placeholder="min">@ViewBag.questions[j].time_min</label>
                                    <span class="mx-2 fw-bold pt-1">:</span>
                                    <label type="number" class="form-control time-control" placeholder="sek">@ViewBag.questions[j].time_sec</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @for (int i = 0; i < ((IEnumerable<dynamic>)ViewBag.questions[j].answers).Count(); i++)
                {
                    <div class="col-@(ViewBag.questions[j].type == 5 ? "12" : "6")">
                        <div class="p-3 card h-100">
                            <div class="p-3 card @(ViewBag.questions[j].type == 5 ? "" : "hstack")">
                                @if (@ViewBag.questions[j].type != 5)
                                {
                                    <span class="me-2 fs-4">@(i + 1)</span>
                                }
                                @if (@ViewBag.questions[j].type == 5)
                                {
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <label For="minId" Name="form-label">Min</label>
                                                <label type="text" class="form-control">@ViewBag.questions[j].min</label>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label For="minId" Name="form-label">Wartość przejścia</label>
                                                <label type="text" class="form-control">@ViewBag.questions[j].step</label>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label For="minId" Name="form-label">Maks</label>
                                                <label type="text" class="form-control">@ViewBag.questions[j].max</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 mb-2">
                                                <label For="minId" Name="form-label">Min punktowane</label>
                                                <label type="text" class="form-control">@ViewBag.questions[j].min_counted</label>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label For="minId" Name="form-label">Prawidłowa odpowiedź</label>
                                                <label type="text" class="form-control">@ViewBag.questions[j].correct_answer</label>
                                            </div>
                                            <div class="col-md-4 mb-2">
                                                <label For="minId" Name="form-label">Maks punktowane</label>
                                                <label type="text" class="form-control">@ViewBag.questions[j].max_counted</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (@ViewBag.questions[j].type == 2)
                                {
                                    <label type="text" class="form-control">@(i == 0 ? "Prawda" : "Fałsz")</label>
                                }
                                else
                                {
                                    <label type="text" class="form-control">@ViewBag.questions[j].answers[i]</label>
                                }
                            </div>
                            <div class="form-check mt-2">
                                @if (@ViewBag.questions[j].goodAnswers[i] && @ViewBag.questions[j].type != 5)
                                {
                                    <label class="form-check-label">To jest poprawna odpowiedź</label>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
}