@using Microsoft.AspNetCore.Identity
@using CollegeQuizWeb.Utils
@using Microsoft.AspNetCore.Http
@model CollegeQuizWeb.Dto.User.ProfileDto
@{
    ViewData["Title"] = "Profil użytkownika";
}

@if (ViewBag.UpdateAlert != null)
                {
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        @ViewBag.UpdateAlert
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

<div class="container mt-5 mb-1">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-md-6 mb-5 user-profile">
                <div class="card px-5 py-5 h-100" id="form1">
                    <label class="mainName">Profil użytkownika </label>
                    <div class="container-fluid bg-profile rounded">
                        <div class="row ">
                            <div class="col-auto py-0 my-0">
                                <i class="bi bi-file-person p-0" style=" font-size: 150px;"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto ">
                                <h4 ><b>Dane użytkownika</b></h4>
                            </div>
                            <div class="col-auto py-0 my-0">
                                <a class="btn button-link btn-color-one-short" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edycja użytkownika" asp-action="EditProfile" asp-controller="User" >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-auto">
                                <div class="row">
                                    <div class="col-auto">
                                        <p><b>Nazwa: </b>@Model.Username</p>
                                        <p><b>Imię:</b> @Model.FirstName @Model.LastName</p>
                                        <p><b>Email:</b> @Model.Email</p>
                                        <p><b>Status: </b>@Model.AccountStatus</p>
                                        <p><b>Data dołączenia:</b> @Model.CreatedAt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
