@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Stwórz swój quiz";
}

<div class="container mt-5 mb-1">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-6 mb-5">
            <div class="card px-5 py-5 h-100" id="form1">
                
                <p><h2>Stwórz nowy quiz</h2></p>
                
                <form method="post" asp-action="AddQuiz">
                    <div class="form-group">
                        <label>Pytanie</label>
                        <input type="text" class="form-control" @*name="QuestionText" value="@Model.Equals(QuestionEntity)"*@/>
                        @*<span asp-validation-for="Question" class="text-mx-2 mt-1 errorTextColor"></span>*@


                    </div>
                    <div class="form-group">
                        <label>Odpowiedzi</label>
                        <div class="form-group">
                            <input type="text" class="form-control" @*name="QuizAnswers[0].AnswerText" value="@Model.QuizAnswers[0].AnswerText"*@ />
                            @*<span asp-validation-for="QuizAnswers[0].AnswerText" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" @*name="QuizAnswers[1].AnswerText" value="@Model.QuizAnswers[1].AnswerText"*@ />
                            @*<span asp-validation-for="QuizAnswers[1].AnswerText" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" @*name="QuizAnswers[2].AnswerText" value="@Model.QuizAnswers[2].AnswerText"*@ />
                            @*<span asp-validation-for="QuizAnswers[2].AnswerText" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" @*name="QuizAnswers[3].AnswerText" value="@Model.QuizAnswers[3].AnswerText"*@ />
                           @*<span asp-validation-for="QuizAnswers[3].AnswerText" class="text-danger"></span>*@
                        </div>
                    </div>
                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn-color-one" />
                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>