@using CollegeQuizWeb.Entities
@{
    ViewData["Title"] = "Moje quizy";
}
<div class="mt-3 mb-3">
    <h3>Twoje quizy</h3>
</div>

@if (ViewBag.Alert != null)
{
    <div class="alert @ViewBag.Alert.Type alert-dismissible fade show" role="alert">
        @Html.Raw(ViewBag.Alert.Content)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<script>
function copyToBoard(obj, quizId)
    {
        var shareCode = document.getElementById(quizId);
        if (shareCode.style.display === 'none') {shareCode.style.display = 'block';}
            let row = $(obj).parent().parent();
            let valueToCopy = row.find('.copy-class').text();
            navigator.clipboard.writeText(valueToCopy);
            let message = `Skopiowano token udostepniający ${valueToCopy} do schowka.`;
            toastr.success(message);
    }
</script>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        @foreach (var quiz in ViewBag.Quizes)
        {
            <div class="col mb-3">
                <div class="card card-resize text-bg-success mb-3 h-100 mt-3" style="max-width: 18rem;">
                    <div class="d-flex justify-content-end pt-3 mx-3">
                        <a class="btn button-card btn-light" asp-action="QuizLobby" asp-controller="Quiz" asp-route-id="@quiz.Id">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </div>
                    <a class="btn text-decoration-none" asp-action="QuizPage" asp-controller="Quiz" asp-route-id="@quiz.Id">
                        <div class="card-body">
                            <h5 class="card-title">@quiz.Name</h5>
                            <p class="card-text">Twoje miejsce na opis quizu</p>
                        </div>
                    </a>
                    <div class="d-flex justify-content-center clip-clas">
                        <a class="btn btn-light text-center copy-class" onclick="copyToBoard(this, @quiz.Id)"><p class="m-0 p-0" style="display: none" id="@quiz.Id">@quiz.Token</p><i class="bi bi-share mx-1"></i></a>
                    </div>
                </div>
            </div>
        }
        <div class="col justify-content-center align-items-center text-center mt-3">
            <a class="btn-color-two w-100 text-decoration-none" asp-action="AddQuiz" asp-controller="Quiz">
                <div class="card card-add card-resize text-bg-success mb-3 h-100" style="max-width: 18rem; min-height: 163px">
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title">Dodaj Quiz</h5>
                        <p class="card-text">Dodaj nowy quiz</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="mt-5 mb-3">
    <h3>Udostępnione quizy</h3>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        @foreach (var quizes in ViewBag.QuizesShared)
        {
            <div class="col mb-3">
                <div class="card card-resize text-bg-success mb-3 h-100 mt-3" style="max-width: 18rem;">
                    <div class="d-flex justify-content-end pt-3 mx-3">
                        <a class="btn button-card btn-light" asp-action="QuizLobby" asp-controller="Quiz" asp-route-id="@quizes.Id">
                            <i class="bi bi-plus-circle"></i>
                        </a>
                    </div>
                    <a class="btn text-decoration-none" asp-action="QuizPage" asp-controller="Quiz" asp-route-id="@quizes.Id">
                        <div class="card-body">
                            <h5 class="card-title">@quizes.Name</h5>
                            <p class="card-text">Twoje miejsce na opis quizu</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>